<% content_for :title, t('listings.edit') %>

<section class="container py-4">
  <h2><%= t('listings.edit') %></h2>
  <%= render "form", listing: @listing %>

  <%# Manage existing images %>
  <% if @listing.persisted? && @listing.property_images.any? %>
    <fieldset class="wantu-fieldset mt-4">
      <legend><%= t('listings.fields.images') %></legend>
      <div class="row g-2">
        <% @listing.property_images.each do |pi| %>
          <% if pi.image.attached? %>
            <div class="col-3">
              <div class="position-relative">
                <%= image_tag pi.image, class: "img-fluid rounded", alt: @listing.title %>
                <%= button_to dashboard_listing_property_image_path(@listing, pi),
                    method: :delete,
                    class: "btn btn-sm btn-danger position-absolute top-0 end-0",
                    data: { turbo_confirm: t('prompts.confirm_delete') } do %>
                  &times;
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <%# Upload new image %>
  <fieldset class="wantu-fieldset mt-4">
    <legend><%= t('property_images.created').split('.').first %></legend>
    <%= form_tag dashboard_listing_property_images_path(@listing), method: :post, multipart: true, class: "d-flex gap-2 align-items-end" do %>
      <%= file_field_tag :image, accept: "image/*", class: "form-control" %>
      <%= submit_tag t('actions.save'), class: "wantu-btn wantu-btn--primary" %>
    <% end %>
  </fieldset>
</section>
